#------
# IDE
#-----

*.swp
*.session
*.tags

#----------
# Symfony
#----------

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
composer.lock
/app/config/parameters.ini
/app/config/parameters.yml
/web/js/
/web/css/
/web/uploads/

#----------------
# nodejs, bower
#---------------

node_modules
npm-debug.log
bower_components

#-----------------------------------------
#compiled coffescript, templates and sass
#-----------------------------------------

/src/MeLikey/WebAppBundle/Resources/coffee/test/js/
/src/MeLikey/WebAppBundle/Resources/public/js/
/src/MeLikey/WebAppBundle/Resources/public/stylesheets/
*.sass-cache/

#----------
# Vagrant
#----------

.vagrant
