parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       465
    mailer_encryption: ssl
    mailer_auth_mode:  login

    mailjet_api_key:   your_mailjet_key
    mailjet_secret_key: your_mailjet_secret_key

    locale:            en
    secret:            ThisTokenIsNotSecretEitherWhatsThePoint
