{% twig_js name="playlistItem" %}

<img class="artwork" src="{{ track.artwork_url }}/100.jpg"></img>
<section class="infos">
	<div class="artist">{{ track.artist }}</div>
	<div class="title">{{ track.title }}</div>
</section>
