{% twig_js name="globalPlayer" %}
<section class="controls">
	<div class="toggle-playlist">Playlist</div>
	<div class="prev">Prev</div>
	<div class="next">Next</div>
</section>
<div class="info">
	<span class="artist">{{track.artist}}</span> - <span class="title">{{track.title}}</span>
</div>
<ul class="actions">
	<li><a class="addLikey">Likey</a></li>
	<li><a class="fb-share">Facebook</a></li>
	<li><a class="tw-share">Twitter</a></li>
</ul>
