{% twig_js name="navigation" %}

<li><a href="{{ path('me_likey_radio_homepage') }}">Radio</a></li>
<li><a href="{{ path('me_likey_radio_tracks') }}">New Stuff</a></li>
<li><a href="/Developpement.Web/Radio/Chaplin/web/app_dev.php/track">Track</a></li>
<li><a href="{{ path('me_likey_radio_tracks') }}">You Likey</a></li>
