@-moz-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Ostrich";
  src: url('../fonts/ostrich-sans/ostrich-black.eot');
  src: url('../fonts/ostrich-sans/ostrich-black.eot?#iefix') format('eot'), url('../fonts/ostrich-sans/ostrich-black.woff') format('woff'), url('../fonts/ostrich-sans/ostrich-black.svg') format('svg');
}

/* line 4, ../../sass/global-player.scss */
#global-player {
  width: 100%;
}
/* line 6, ../../sass/global-player.scss */
#global-player .player {
  max-width: 700px;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
}
/* line 12, ../../sass/global-player.scss */
#global-player .controls {
  float: left;
  width: 200px;
  cursor: pointer;
}
/* line 16, ../../sass/global-player.scss */
#global-player .controls .prev, #global-player .controls .next, #global-player .controls .play, #global-player .controls .pause, #global-player .controls .toggle-playlist, #global-player .controls .buffering-indicator {
  width: 50px;
  height: 50px;
  float: left;
}
/* line 21, ../../sass/global-player.scss */
#global-player .controls .toggle-playlist {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -235px;
}
/* line 22, ../../sass/global-player.scss */
#global-player .controls .prev {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -175px;
}
/* line 23, ../../sass/global-player.scss */
#global-player .controls .next {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -5px;
}
/* line 24, ../../sass/global-player.scss */
#global-player .controls .play {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -125px;
}
/* line 25, ../../sass/global-player.scss */
#global-player .controls .pause {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -65px;
}
/* line 26, ../../sass/global-player.scss */
#global-player .controls .buffering-indicator {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-spinner.gif?1385312253');
  background-repeat: no-repeat;
  background-position: 14px 9px;
}
/* line 28, ../../sass/global-player.scss */
#global-player .info {
  max-width: 400px;
  padding-top: 5px;
  padding-bottom: 10px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95em;
}
/* line 38, ../../sass/global-player.scss */
#global-player .artist {
  text-transform: uppercase;
}
/* line 39, ../../sass/global-player.scss */
#global-player .actions {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  padding: 5px 0 0 0;
  float: right;
  font-size: 0.85em;
}
/* line 60, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#global-player .actions li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#global-player .actions li:first-child, #global-player .actions li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#global-player .actions li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#global-player .actions li.last {
  padding-right: 0;
}
/* line 44, ../../sass/global-player.scss */
#global-player .actions a {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
/* line 49, ../../sass/global-player.scss */
#global-player .actions a.addLikey {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 50, ../../sass/global-player.scss */
#global-player .actions a.addLikey:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 51, ../../sass/global-player.scss */
#global-player .actions a.fb-share {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fb-track-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 52, ../../sass/global-player.scss */
#global-player .actions a.fb-share:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fb-track-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 53, ../../sass/global-player.scss */
#global-player .actions a.tw-share {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter-track-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 54, ../../sass/global-player.scss */
#global-player .actions a.tw-share:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter-track-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 55, ../../sass/global-player.scss */
#global-player .actions a.permalink {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 56, ../../sass/global-player.scss */
#global-player .actions a.permalink:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 59, ../../sass/global-player.scss */
#global-player .seekbar {
  max-width: 500px;
  float: right;
}
