@-moz-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Ostrich";
  src: url('../fonts/ostrich-sans/ostrich-black.eot');
  src: url('../fonts/ostrich-sans/ostrich-black.eot?#iefix') format('eot'), url('../fonts/ostrich-sans/ostrich-black.woff') format('woff'), url('../fonts/ostrich-sans/ostrich-black.svg') format('svg');
}

/* line 3, ../../sass/global-playlist.scss */
#global-playlist .playlist {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  height: 75px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  background: #151515;
  border-top: 1px solid #2a2a2a;
  -webkit-box-shadow: inset 0px 0px 1px 1px #101010;
  -moz-box-shadow: inset 0px 0px 1px 1px #101010;
  box-shadow: inset 0px 0px 1px 1px #101010;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
/* line 12, ../../sass/global-playlist.scss */
.expanded #global-playlist .playlist {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 13, ../../sass/global-playlist.scss */
#global-playlist .playlist .playlist-item {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  margin: 6px 5px;
  padding: 7px;
}
/* line 19, ../../sass/global-playlist.scss */
#global-playlist .playlist .playlist-item .artwork {
  width: 25px;
  height: 25px;
  float: left;
}
/* line 24, ../../sass/global-playlist.scss */
#global-playlist .playlist .playlist-item .infos {
  float: left;
  padding-left: 5px;
  max-width: 90px;
  min-width: 75px;
}
/* line 29, ../../sass/global-playlist.scss */
#global-playlist .playlist .playlist-item .infos div {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 34, ../../sass/global-playlist.scss */
#global-playlist .playlist .playlist-item.playing {
  background: #222222;
  -webkit-box-shadow: inset 0px 0px 2px 0px #343434;
  -moz-box-shadow: inset 0px 0px 2px 0px #343434;
  box-shadow: inset 0px 0px 2px 0px #343434;
}
/* line 39, ../../sass/global-playlist.scss */
#global-playlist .playlist .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #2f2f2f;
}
