@-moz-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Ostrich";
  src: url('../fonts/ostrich-sans/ostrich-black.eot');
  src: url('../fonts/ostrich-sans/ostrich-black.eot?#iefix') format('eot'), url('../fonts/ostrich-sans/ostrich-black.woff') format('woff'), url('../fonts/ostrich-sans/ostrich-black.svg') format('svg');
}

/* line 4, ../../sass/track-suggestion.scss */
.suggestion-box header {
  background: #222222;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-family: 'Raleway';
  width: 100%;
  height: 90px;
  text-transform: uppercase;
  font-size: 1.25em;
  text-align: center;
}
/* line 17, ../../sass/_base.scss */
.suggestion-box header a {
  color: white;
}
/* line 12, ../../sass/track-suggestion.scss */
.suggestion-box header h1 {
  padding: 45px 20px 20px 20px;
  background: url('../images/box.png?1385312253') no-repeat 0 25px;
  width: 260px;
  margin: auto;
}
/* line 18, ../../sass/track-suggestion.scss */
.suggestion-box header #site-title {
  font-size: 1.6em;
}
/* line 22, ../../sass/track-suggestion.scss */
.suggestion-box section {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 90px;
}
/* line 27, ../../sass/track-suggestion.scss */
.suggestion-box p {
  padding-bottom: 2em;
}
/* line 30, ../../sass/track-suggestion.scss */
.suggestion-box table {
  margin-bottom: 1.5em;
}
/* line 33, ../../sass/track-suggestion.scss */
.suggestion-box tr {
  margin-bottom: 1em;
}
/* line 36, ../../sass/track-suggestion.scss */
.suggestion-box th {
  font-size: 1.1em;
  min-width: 75px;
  vertical-align: top;
}
/* line 41, ../../sass/track-suggestion.scss */
.suggestion-box td {
  font-weight: 300;
  line-height: 1.3em;
  padding-bottom: 0.7em;
}
/* line 46, ../../sass/track-suggestion.scss */
.suggestion-box h2 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 1.4em;
}
/* line 51, ../../sass/track-suggestion.scss */
.suggestion-box form {
  margin-bottom: 2em;
}
/* line 54, ../../sass/track-suggestion.scss */
.suggestion-box label[for=melikey_radiobundle_tracksuggestiontype_link] {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/player-wrapper-sources.png?1385312253');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 26px;
  width: 113px;
  padding: 0;
}
