@-moz-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes content-loader {
  /* line 28, ../../sass/_base.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 31, ../../sass/_base.scss */
  100% {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Ostrich";
  src: url('../fonts/ostrich-sans/ostrich-black.eot');
  src: url('../fonts/ostrich-sans/ostrich-black.eot?#iefix') format('eot'), url('../fonts/ostrich-sans/ostrich-black.woff') format('woff'), url('../fonts/ostrich-sans/ostrich-black.svg') format('svg');
}

/* line 4, ../../sass/track.scss */
.track .source {
  line-height: 26px;
}
/* line 6, ../../sass/track.scss */
.track .source a {
  width: 26px;
  height: 26px;
  display: inline-block;
}
/* line 10, ../../sass/track.scss */
.track .source a.soundcloud {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/soundcloud-source.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 2px;
}
/* line 11, ../../sass/track.scss */
.track .source a.youtube {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/youtube-source.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 12, ../../sass/track.scss */
.track .source a.vimeo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/vimeo-source.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 15, ../../sass/track.scss */
.track.big {
  min-width: 630px;
  margin-bottom: 70px;
  font-size: 1.2em;
  position: absolute;
  top: 180px;
  left: 47%;
  margin-left: -300px;
}
/* line 23, ../../sass/track.scss */
.track.big .artwork {
  border: 10px solid #222222;
  float: left;
  width: 300px;
  height: 300px;
  background: #1a1a1a;
}
/* line 30, ../../sass/track.scss */
.track.big .infos {
  padding: 10px 0 0 345px;
  max-width: 600px;
}
/* line 33, ../../sass/track.scss */
.track.big .infos a {
  color: #2a2a2a;
}
/* line 34, ../../sass/track.scss */
.track.big .infos .artist {
  font-size: 2.2em;
  padding-bottom: 10px;
}
/* line 38, ../../sass/track.scss */
.track.big .infos .title {
  font-size: 1.7em;
  padding-bottom: 30px;
}
/* line 43, ../../sass/track.scss */
.track.big .extra-infos {
  margin-bottom: 1.1em;
}
/* line 45, ../../sass/track.scss */
.track.big .extra-infos a {
  color: #00baff;
}
/* line 47, ../../sass/track.scss */
.track.big:hover .player-controls {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 48, ../../sass/track.scss */
.track.big .actions {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  bottom: 5px;
  font-size: 0.75em;
  font-weight: 400;
  padding: 3px;
}
/* line 60, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.track.big .actions li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.track.big .actions li:first-child, .track.big .actions li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.track.big .actions li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
.track.big .actions li.last {
  padding-right: 0;
}
/* line 55, ../../sass/track.scss */
.track.big .actions a {
  cursor: pointer;
  padding: 3px 6px 3px 18px;
}
/* line 58, ../../sass/track.scss */
.track.big .actions a.addLikey {
  background: url('../images/add-likey-track-full.png?1385312253') 0 6px no-repeat;
}
/* line 59, ../../sass/track.scss */
.track.big .actions a.fb-share {
  background: url('../images/fb-track-full.png?1385312253') 3px 5px no-repeat;
}
/* line 60, ../../sass/track.scss */
.track.big .actions a.tw-share {
  background: url('../images/twitter-track-full.png?1385312253') 0 6px no-repeat;
}
/* line 61, ../../sass/track.scss */
.track.big .actions a.permalink {
  background: url('../images/permalink-track-full.png?1385312253') 0 6px no-repeat;
}
/* line 64, ../../sass/track.scss */
.track.big .player-controls {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 125px;
  left: 125px;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 69, ../../sass/track.scss */
.track.big .player-controls div {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
/* line 74, ../../sass/track.scss */
.track.big .player-controls .play {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/player-controls-track-full.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
/* line 75, ../../sass/track.scss */
.track.big .player-controls .pause {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/radioplayer-controls.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0px -65px;
}
/* line 80, ../../sass/track.scss */
.track.compact {
  background: #222222;
  color: white;
  text-shadow: 0 1px 0 #000;
  font-size: 0.85em;
  position: relative;
  border: 10px solid #222222;
}
/* line 17, ../../sass/_base.scss */
.track.compact a {
  color: white;
}
/* line 85, ../../sass/track.scss */
.track.compact .artwork, .track.compact .seekbar {
  float: left;
}
/* line 88, ../../sass/track.scss */
.track.compact .artwork {
  width: 200px;
  height: 200px;
  background: #1a1a1a;
}
/* line 93, ../../sass/track.scss */
.track.compact .player-controls, .track.compact .toggle-infos, .track.compact .actions li {
  margin: 5px 5px 0 5px;
  float: left;
}
/* line 97, ../../sass/track.scss */
.track.compact .actions a {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
/* line 102, ../../sass/track.scss */
.track.compact .actions a.addLikey {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 103, ../../sass/track.scss */
.track.compact .actions a.addLikey:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 104, ../../sass/track.scss */
.track.compact .actions a.fb-share {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fb-track-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 105, ../../sass/track.scss */
.track.compact .actions a.fb-share:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/fb-track-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 106, ../../sass/track.scss */
.track.compact .actions a.tw-share {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter-track-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 107, ../../sass/track.scss */
.track.compact .actions a.tw-share:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/twitter-track-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 -1px;
}
/* line 108, ../../sass/track.scss */
.track.compact .actions a.permalink {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 109, ../../sass/track.scss */
.track.compact .actions a.permalink:hover {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/add-likey-compact-hover.png?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 111, ../../sass/track.scss */
.track.compact .infos {
  clear: both;
}
/* line 113, ../../sass/track.scss */
.track.compact .infos .artist {
  padding: 5px 0;
  text-transform: uppercase;
}
/* line 117, ../../sass/track.scss */
.track.compact .infos .title {
  font-size: 0.85em;
}
/* line 121, ../../sass/track.scss */
.track.compact .extra-infos {
  display: none;
  position: absolute;
  top: 0;
  padding: 10px;
}
/* line 128, ../../sass/track.scss */
.track.compact .player-controls div {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
/* line 133, ../../sass/track.scss */
.track.compact .player-controls .buffering-indicator {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/player-controls-spinner-compact.gif?1385312253');
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 134, ../../sass/track.scss */
.track.compact .player-controls .play {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/player-controls-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: -5px -37px;
}
/* line 135, ../../sass/track.scss */
.track.compact .player-controls .pause {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/player-controls-compact.png?1385312253');
  background-repeat: no-repeat;
  background-position: -5px -7px;
}
