{% extends '::base.html.twig' %}

{% block body %}
	<p>This popup should automatically close in a few seconds. If not, you know how to close a window !</p>
{% endblock %}

{% block javascripts %}
	<script>
	</script>
{% endblock %}
